*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    background-image: url('bk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
p, h1{
    color: white;
}
#form{
    display: none;
    text-align: left;
    flex-direction: column;
    position: absolute;
    margin-left: 40%;
    background-color: gray;
    width: 300px;
    height: 200px;
}

#form input{
    width: 200px;
}
